
.line-charts-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.chart-container {
  width: 45vw; /* Adjust the width for line charts *//* Add some space between the charts */
  background-color: #ffffff; /* White background for charts */
  border-radius: 15px; /* Rounded corners */
  padding-top: 25px; 
  padding-bottom: 25px;/* Padding inside the chart container */
  display: flex;
  justify-content: center; /* Center chart in the container */
  align-items: center; /* Align chart vertically */
  margin-left: 1.5vw;
}

.pie-chart-container{
    width: 25vw; /* Add some space between the charts */ /* Padding inside the chart container */
    display: flex;
    justify-content: center; /* Center chart in the container */
    align-items: center; /* Align chart vertically */
    margin: -10px;
}

.chart-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.charts-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .charts-carousel {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .carousel-control {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .carousel-control.left {
    left: .2vw;
  }
  
  .carousel-control.right {
    right: 1vw;
  }

  .button-label {
    display: block;
    font-size: .8vw; /* Smaller font size for the label *//* Space between icon and label */
  }
  
  .charts-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px; /* Adjust padding for arrow buttons */
    border-radius: 15px; /* Rounded corners */
    background-color: #f0f8ff; /* Light blue background */
    height:20vw
  }

  /* Custom CSS for Tables */
.tables-container {
  margin-top: 20px; /* Space above the table */
  background-color: #f0f8ff; /* Light blue background */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Padding around the table */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.table {
  width: 100%; /* Full width */
  text-align: center; /* Center align text */
  border-collapse: collapse; /* Collapse borders */
}

.table th, .table td {
  padding: 10px; /* Padding in cells */
  border: 1px solid #ddd; /* Border for cells */
}

.table th {
  background-color: #ffffff; /* Lighter blue for headers */
  color: #333; /* Dark text for contrast */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff; /* White background for odd rows */
}

.table-hover tbody tr:hover {
  background-color: #d1e7fd; /* Light blue background on hover */
}